[mysqld]
server-id=1
log_bin=mysql-bin
binlog_format=row
expire_logs_days=7
max_binlog_size=100M
# Opcional tuning
innodb_flush_log_at_trx_commit=1
sync_binlog=1

# Configuración de GTID (la forma moderna de replicación)
gtid_mode = ON
enforce_gtid_consistency = ON

default_authentication_plugin = mysql_native_password